body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #3ca84e, #f0f8ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  margin: 0;
  padding: 30px;
  color: #000000;
}

.titulo {
  font-size: 2rem;
  width: 0;
  overflow: hidden;
  border-right: 2px solid black;
  white-space: nowrap;
  animation: digitar 4s steps(20, end) forwards,
    cursorPisca 0.9s step-end infinite;
}

@keyframes digitar {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

@keyframes cursorPisca {
  50% {
    border-color: transparent;
  }
}

p {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  animation: moverParaLados 3s ease-in-out infinite alternate;
}

@keyframes moverParaLados {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #413d3d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000000;
}
