body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  margin: 0;
  color: #333;
}

select {
  color: #f0f2f5;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: #05141d;
}
